<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JokeApp</title>
    <link rel="stylesheet" href="~/css/output.css" />
</head>

<body class="h-[100dvh]">
    <nav class="h-1/6 p-10">
        <div class="flex sm:text-5xl text-xl gap-5 justify-center">
            <a class="" asp-area="" asp-page="/Index">JokeApp</a>
            <a class="" asp-area="" asp-page="/Index">Home</a>
            <a class="" asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </nav>
    <main role="main" class="p-10 h-4/6">
        @RenderBody()
    </main>

    <footer class="p-10 h-1/6">
        &copy; 2023 - JokeApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>